$primary-color: #003049;
$secondary-color: #D62828;
$color-orange:#F77F00;
$color-yellow: #FCBF49;
$color-beige: #EAE2B7;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@function set-text-color($color) {
    @if(lightness($color) > 40%)
    {
        @return #000000;
    }
    @else
    {
        @return #ffffff;
    }
}

@mixin transition-ease {
    transition: all 0.5s ease;
}

@mixin media-sm {
    @media screen and (min-width: 1023px){
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 1599px){
        @content;
    }
}